wandb
img
media/images
notebooks/media
notebooks/important_models
_scratch

configs/start_queue
configs/running
configs/finished

*.sh
**/*.aux
**/*.log
**/*.nav
**/*.out
**/*.snm
**/*.synctex
**/*.bbl
**/*.blg
**/*.synctex.gz
**/*.toc
**/.ipynb_checkpoints
**/.idea
**/.vscode
# ignore __pycache__ folders
**/__pycache__
# # ignore __pycache__ folders in subfolders
__pycache__/*

# ignore .pytest_cache folders
**/.pytest_cache
# ignore .DS_Store files
**/.DS_Store

notebooks/148.msh
notebooks/demo.msh
notebooks/demo.vtu
notebooks/gridap_linear_elasticity.ipynb
notebooks/gridap_test.ipynb
notebooks/results.vtu
notebooks/solid.json
